<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {{> navbar}}
    <h1>Employee List</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Start Date</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each employees}}
                <tr>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.department}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.jobTitle}}</td>
                    <td>{{this.salary}}</td>
                    <td>
                        <a href="/employees/edit/{{this._id}}">Edit</a>
                        <form action="/employees/delete/{{this._id}}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
